body {	
	background: white;
	font-family: $serif;
	font-size: 1.1em;
	line-height: 1.35;
	color: $dark-gray; }

img {
	display: block;
	max-width: 100%;
	height: auto; }

a {	
	color: $dark-gray;
	text-decoration: none; 
	@include transition(all 0.15s ease-in-out);
	&:hover, &:active {
		color: $main-orange; } }

p { margin: 0 0 1.5em 0; }