$light-gray: #eee;
$mid-gray: #999;
$dark-gray: #111;

$main-orange: #cc4714;
$main-blue: #0196da;

.main-orange { color: $main-orange; }
.main-blue   { color: $main-blue; }
.mid-gray    { color: $mid-gray; }