body {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 17px; 
  font-family: 'helvetica_regular', Helvetica, Arial, sans-serif;
  color: #4b4b4b;
}
.block {
  margin-bottom: 50px;
}
.xrayhtml {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .3em;
  margin: 1.5em 0 2.5em 0;
  padding: 2em 1em;
  position: relative;
}
.xrayhtml .xraytitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font: .75em sans-serif;
  color: rgba(0,0,0,.5);
  background-color: #fff;
  position: absolute;
  top: -.5em;
  padding-left: .5em;
  padding-right: .5em;
  left: 1.333333333em; /* 16px */
  z-index: 3;
  margin: 0;
}
.xrayhtml.method-flip:before {
  background-color: rgba(255,255,255,.6);
}
.xrayhtml .source-panel {
  background: #f7f7f7;
  margin-top: 2em;
  tab-size: 2;
}
.xrayhtml .source-panel pre {
  margin: 0;
}
.xrayhtml .source-panel code {
  white-space: pre-wrap;
}
.xrayhtml.method-flip .source-panel {
  margin-top: 0;
  border-radius: 0.3em;
}
.xrayhtml.method-inline .source-panel {
  margin: 2em -1em -2em -1em !important; /* Prism style override. */
  border-top: 1px solid rgba(0,0,0,.1);
  border-radius: 0 0 .3em .3em;
}
.xrayhtml pre {
  padding: 16px;
  margin: 0 !important; /* Prism style override. */
  border-radius: 0 0 .3em .3em;
}
.xrayhtml code {
  white-space: pre-wrap !important; /* Prism style override. */
}

.xrayhtml.antipattern {
  border-color: #C9282D;
}
.xrayhtml.antipattern .xraytitle {
  color: #d75e72;
  font-weight: 700;
}

/* Flip Animation */

.method-flip {
  -webkit-perspective: 2500px;
  -moz-perspective: 2500px;
  perspective: 2500px;
}
.method-flip .snippet {
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 100%;
}
.method-flip .source-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.method-flip .snippet {
  -webkit-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  -webkit-transition: -webkit-transform .4s ease-in-out;
  -moz-transition: -moz-transform .4s ease-in-out;
}
.method-flip.view-source .snippet {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.method-flip .source-panel {
  -webkit-transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(-180deg);
  -moz-backface-visibility: hidden;

  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
.method-flip.view-source .source-panel {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

/*======================================================
  Fonts
  ======================================================*/

/* Palatino Linotype */
@font-face {
  font-family: 'PalatinoLinotype-BoldItalic';
  src: url('fonts/palatino/PalatinoLinotype-BoldItalic.eot');
  src: url('fonts/palatino/PalatinoLinotype-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/palatino/Palatino-linotype-bold-italic.woff2') format('woff2'),
    url('fonts/palatino/PalatinoLinotype-BoldItalic.woff') format('woff'),
    url('fonts/palatino/PalatinoLinotype-BoldItalic.ttf')  format('truetype'),
    url('fonts/palatino/PalatinoLinotype-BoldItalic.svg#PalatinoLinotype-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoLinotype-Italic';
  src: url('fonts/palatino/PalatinoLinotype-Italic.eot');
  src: url('fonts/palatino/PalatinoLinotype-Italic.eot?#iefix') format('embedded-opentype'),
      url('fonts/palatino/Palatino-linotype-italic.woff2') format('woff2'),
    url('fonts/palatino/PalatinoLinotype-Italic.woff') format('woff'),
    url('fonts/palatino/PalatinoLinotype-Italic.ttf')  format('truetype'),
    url('fonts/palatino/PalatinoLinotype-Italic.svg#PalatinoLinotype-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoLinotype-Bold';
  src: url('fonts/palatino/PalatinoLinotype-Bold.eot');
  src: url('fonts/palatino/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/palatino/Palatino-linotype-bold.woff2') format('woff2'),
    url('fonts/palatino/PalatinoLinotype-Bold.woff') format('woff'),
    url('fonts/palatino/PalatinoLinotype-Bold.ttf')  format('truetype'),
    url('fonts/palatino/PalatinoLinotype-Bold.svg#PalatinoLinotype-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoLinotype';
  src: url('fonts/palatino/PalatinoLinotype-Roman.eot');
  src: url('fonts/palatino/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
      url('fonts/palatino/Palatino-linotype.woff2') format('woff2'),
    url('fonts/palatino/PalatinoLinotype-Roman.woff') format('woff'),
    url('fonts/palatino/PalatinoLinotype-Roman.ttf')  format('truetype'),
    url('fonts/palatino/PalatinoLinotype-Roman.svg#PalatinoLinotype') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Helvetica */
@font-face {
    font-family: 'helvetica_regular';
    src: url('fonts/helvetica/helvetica-webfont.eot');
    src: url('fonts/helvetica/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/helvetica-webfont.woff2') format('woff2'),
         url('fonts/helvetica/helvetica-webfont.woff') format('woff'),
         url('fonts/helvetica/helvetica-webfont.ttf') format('truetype'),
         url('fonts/helvetica/helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_bold';
    src: url('fonts/helvetica/helvetica-bold-webfont.eot');
    src: url('fonts/helvetica/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/helvetica-bold-webfont.woff2') format('woff2'),
         url('fonts/helvetica/helvetica-bold-webfont.woff') format('woff'),
         url('fonts/helvetica/helvetica-bold-webfont.ttf') format('truetype'),
         url('fonts/helvetica/helvetica-bold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_bold_oblique';
    src: url('fonts/helvetica/helvetica-bold-oblique-webfont.eot');
    src: url('fonts/helvetica/helvetica-bold-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/helvetica-bold-oblique-webfont.woff2') format('woff2'),
         url('fonts/helvetica/helvetica-bold-oblique-webfont.woff') format('woff'),
         url('fonts/helvetica/helvetica-bold-oblique-webfont.ttf') format('truetype'),
         url('fonts/helvetica/helvetica-bold-oblique-webfont.svg#helveticabold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_oblique';
    src: url('fonts/helvetica/helvetica-oblique-webfont.eot');
    src: url('fonts/helvetica/helvetica-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/helvetica-oblique-webfont.woff2') format('woff2'),
         url('fonts/helvetica/helvetica-oblique-webfont.woff') format('woff'),
         url('fonts/helvetica/helvetica-oblique-webfont.ttf') format('truetype'),
         url('fonts/helvetica/helvetica-oblique-webfont.svg#helveticaoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_light';
    src: url('fonts/helvetica/helvetica-light.eot');
    src: url('fonts/helvetica/helvetica-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/helvetica-light.woff2') format('woff2'),
         url('fonts/helvetica/Helvetica-Light.woff') format('woff'),
         url('fonts/helvetica/helvetica-light.ttf') format('truetype'),
         url('fonts/helvetica/Helvetica-Light.svg#helveticaoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_light_oblique';
    src: url('fonts/helvetica/Helvetica-LightOblique.eot');
    src: url('fonts/helvetica/Helvetica-LightOblique.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/Helvetica-LightOblique.woff2') format('woff2'),
         url('fonts/helvetica/Helvetica-LightOblique.woff') format('woff'),
         url('fonts/helvetica/Helvetica-LightOblique.ttf') format('truetype'),
         url('fonts/helvetica/Helvetica-LightOblique.svg#helveticaoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}